(
    width: 101,
    height: 36,
    rows: [
"GGGWWGGGGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGWWGGGGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGWWGGGGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGWWGGGGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGWWGGGGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGWWGGGGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGWWWGGGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGWWWGGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGWWWWGGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGWWWGGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGWWWGGGGGGGGGGGGGSRGRSGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"SSSSSSSSSSSSSSSSSSSSSSSSRSRSSSSSSSSSSSSSSSSSSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRSSRRSRRSSSSSSSSSSSSSSSSSSSSSSSSSSSSRRRRSRRRRSSSSSSSSSSSSSS",
"RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR",
"SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR",
"GGGGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGSSSSSRRSRRSSSSSSSSSSSSSSSSSSSSSSSSSSSSRRRRSRRRRSSSSSSSSSSSSSS",
"GGGGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGGGWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGGGWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGWWWGGGGSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSRRSRRSSSSSSSSSSSSSSSSSSSSSSSSSSSSRRRRSRRRRSSSSSSSSSSSSSS",
"SSSSSSSSSSSSSSRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR",
"RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR",
"RRRRRRRRRRRRRRRRSSSSSSSSSSSSSSSSSSSSSSSSSSSSSRRSRRSSSSSSSSSSSSSSSSSSSSSSSSSSSSRRRRSRRRRSSSSSSSSSSSSSS",
"SSSSSSSSSSSSSSSSSGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
"GGGGGGWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGSRRGRRSGGGGGGGGGGGGGGGGGGGGGGGGGGSRRRRGRRRRSGGGGGGGGGGGGG",
    ],
)
