(
    width: 32,
    height: 32,
    rows: [
        "GGGWWWWWWGGGGGGGGGGGGGGGGGGGGGGG",
        "GGGWWWWWWGGGGGGGGGGGGGGGGGGGGGGG",
        "GGGGWWWWWWGGGGGGGGGGGGGGGGGGGGGG",
        "GGGGWWWWWWGGGGGGGGGGGGGGGGGGGGGG",
        "GGGGWWWWWWGGGGGGGGGGGGGGGGGGGGGG",
        "GGGGGGWWWWWWGGGGGGGGGGGGGGGGGGGG",
        "GGGGGGWWWWWWWGGGGGGGGGGGGGGGGGGG",
        "GGGGGGWWWWWWWWGGGGGGGGGGGGGGGGGG",
        "GGGGGGGWWWWWWWWWGGGGGGGGGGGGGGGG",
        "GGGGGGGGWWWWWWWWGGGGGGGGGGGGGGGG",
        "SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS",
        "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR",
        "RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR",
        "SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS",
        "GGGGGGGGWWWWWWWWGGGGGGGGGGGGGGGG",
        "GGGGGGGGWWWWWWWWGGGGGGGGGGGGGGGG",
        "GGGGGGGWWWWWWWWGGGGGGGGGGGGGGGGG",
        "GGGGGGWWWWWWWWGGGGGGGGGGGGGGGGGG",
        "GGGGWWWWWWWWGGGGGGGGGGGGGGGGGGGG",
        "WWWWWWWWWWGGGGGGGGGGGGGGGGGGGGGG",
        "WWWWWWWWWGGGGGGGGGGGGGGGGGGGGGGG",
        "WWWWWWWWGGGGGGGGGGGGGGGGGGGGGGGG",
        "WWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGG",
        "WWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGG",
        "WWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGG",
        "WWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG",
        "WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGG",
        "WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGG",
        "WWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG",
        "WGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG",
        "GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG",
        "GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG",
    ],
)
